@import url('https://fonts.googleapis.com/css?family=PT+Sans|Pacifico');

* {
    transition: all 300ms;
}

::selection {
    background: #96cf784d;
}

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.7;
    color: #8b8b8b;
}

.main {
    background: url("../img/bg1.jpg") no-repeat 0 -4px;
    background-size: cover;
    padding: 231px 0 240px 0;
}

.curved {
    font-family: 'Pacifico', cursive;
}

.big {
    font-size: 82px;
    font-weight: 900;
}

.green {
    color: #679509;
}

.main button {
    text-transform: uppercase;
}

h2 {
    font-size: 48px;
}

.steps {
    padding: 59px 0 13px 0;
    text-align: center;
}

.steps .col strong {
    margin-bottom: 15px;
    color: #4f4f4f;
    letter-spacing: 0.02em;
}

.steps .col p {
    margin: 15px;
}

/*noinspection ALL*/
h3, .black {
    color: #4f4f4f;
}

#tovar img {
    border: 1px solid black;
}

.banner {
    text-align: center;
    background-image: url(https://ld-wp.template-help.com/woocommerce_prod-11619_v1/wp-content/uploads/2017/10/banners2.jpg);
    background-size: cover;
    padding: 231px 0 240px 0;
    background-position: center bottom;
    color: #4f4f4f;
}

.heart {
    text-align: center;
    color: black;
    margin-bottom: 0;
}

.dish {
    text-align: center;
    background-image: url("https://ld-wp.template-help.com/woocommerce_prod-11619_v1/wp-content/uploads/2017/10/bg4.jpg");
    background-size: cover;
    padding: 231px 0 240px 0;
    background-position: center bottom;
    color: #4f4f4f;
}

.out {
    margin-bottom: 30px;
}

#image {
    position: absolute;
    right: 35px;
}

#img-banner-right {
    position: absolute;
    left: -5px;
}

#table-tovar img {
    border: 1px solid black;
}

.grass-carousel {
    background-image: url(https://ld-wp.template-help.com/woocommerce_prod-11619_v1/wp-content/uploads/2017/10/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 186px 0px 130px 0px;
}

.footer {
    background-image: url(https://ld-wp.template-help.com/woocommerce_prod-11619_v1/wp-content/themes/naturio/assets/images/footer-widgets-bg.jpg);
    background-size: cover;
    padding: 230px 0 50px 0;
    background-position: center bottom;
    color: #4f4f4f;
    font-size: .875rem;
}

/*about*/

.about1 {
    background-color: #f0f0f0;
    padding: 5px 0;
    color: black;
    font-weight: 900;
}

.info {
    text-align: center;
}

.ground {
    color: black;
    margin-bottom: 0;
    text-align: center;
}

.statistics {
    background-color: #86ae34;
    color: white;
    text-align: center;
    padding: 43px 0px 43px 0px;
}

.inf {
    color: white;
    font-family: "Montserrat", Sans-serif;
}

.fructs {
    background-image: url(https://ld-wp.template-help.com/woocommerce_prod-11619_v1/wp-content/uploads/2017/10/post6.jpg);
    background-position: bottom center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10% 0% 10% 0%;
}

.advantage {
    background-color: #f9f9f9;
    padding: 80px 0px 80px 0px;
}

.founder {
    background-image: url(https://ld-wp.template-help.com/woocommerce_prod-11619_v1/wp-content/uploads/2017/10/banners2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 140px 0px 140px 0px;

}